- var svgSprite = 'img/sprite.svg'

mixin svg(name, modClass = '')
  svg(class=`icon icon-${name} ${modClass}`)
    use(xlink:href=`${svgSprite}#icon-${name}`)

mixin i(name)
  i(class= `zmdi zmdi-${name}`)
